{% extends 'base.html.twig' %}

{% block title %}Echoes Bible | Home{% endblock %}

{% block scripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block styles %}
    {{ parent() }}
    <script src="{{ asset('js/base.js') }}" type="module"></script>
    <script src="{{ asset('js/home/home-page.js') }}" type="module"></script>
{% endblock %}

{% block body %}
    <div class="d-flex">

        <!-- Side Nav -->
        <nav id="sidebarNav" class="bg-dark text-white p-3 vh-100 sticky-top" style="width: 250px;">
            <img src="/image/echoes-logo.avif" class="width100 mb-3">
            <ul class="nav nav-pills flex-column gap-1">
                <li class="nav-item">
                    <a id="exploreLink" class="nav-link text-white active" href="javascript:void(0);">
                        <i class="bi bi-compass me-2"></i>
                        Explore
                    </a>
                    <ul id="exploreSubMenu" class="nav flex-column gap-1 ms-3" style="display: none;">
                        <br>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/e/1">Numbers and Corinthians</a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/e/2">Leviticus and Romans #1</a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/e/3">Leviticus and Romans #2</a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/e/4">Leviticus and Romans #3</a>
                            <hr>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-journal-text me-2"></i>
                        Notes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-globe me-2"></i>
                        Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-bookmarks me-2"></i>
                        Bookmarks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="bi bi-three-dots me-2"></i>
                        Other
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Main content -->
        <main class="flex-fill p-4">
            <div class="row">
                <div class="col-xs-10 col-sm-10">
                    <b>Search</b> <input id="searchInput">
                </div>
                <div id="accountLinks" class="col-xs-2 col-sm-2 bolder">
                    <a href="/login" class="echoesDarkBlue">Login</a> | <a href="/create-account" class="echoesDarkBlue">Sign Up</a>
                    <i class="bi bi-person-circle"></i>
                </div>
            </div>
            <hr>
            <div class="card text-center">
                <div class="card-body">
                    <h4 style="text-align: left;">
                        <i class="bi bi-paperclip"></i>
                        {% block echoGroupTitle %}{% endblock %}
                    </h4>
                    <hr>
                    <br>
                    <div class="container">
                        <div class="row">

                            {% block echoGroupBody %}
                            {% endblock %}

                            <div id="sidePane" class="sideExpander card displayNone col-xs-12 col-sm-4 textLeft">
                                <a id="closeSidePaneButton"><i class="bi bi-x-circle-fill"></i></a>
                                <div class="card-body">
                                    <!-- Echo content will render here -->
                                </div>
                                <div id="hiddenData">
                                    {% block hiddenData %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="textLeft">
                        <button id="moreCommentaryButton" class="btn btn-primary"><i class="bi bi-chat-right-text-fill"></i> More</button>
                        <div id="moreCommentaryBody" class="collapse">
                            <div class="card card-body echoesGray">
                                More content will go here. More content will go here. More content will go here.
                                More content will go here. More content will go here. More content will go here.
                                More content will go here. More content will go here. More content will go here.
                                More content will go here. More content will go here. More content will go here.
                                More content will go here. More content will go here. More content will go here.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
